.vehicle {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.vehicle:hover {
  /* -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);  */
  transform: scale(1.05); 
  box-shadow: 0 4px 8px 0 rgba(117, 183, 236, 0.19), 0 6px 20px 0 rgba(117, 183, 236, 0.19);
}
.vehicle h2 {
  font-size: 2rem;
  color: #f7e702;
}

.vehicle h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}
